/* css styles */

/* Style for the navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white; /* White background for the navbar */
}

/* Style for the logo */
.logo {
    margin-right: 20px;
}

/* Style for navbar links */
.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #000; /* Black text for links */
    font-weight: bold;
}

.navbar-links a:hover {
    color: #5a5a5a; /* Dark gray color on hover */
}

/* Style for the page title */
.page-title {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    margin-top: 20px;
    margin-left: 20px;
    color: #000; /* Black color for the page title */
}

/* General body background color */
body {
    background-color: #F5F5F5; /* Light gray background for the entire page */
    margin: 0;
    padding: 0;
}